.nav-img {
  background-image: url("https:\/\/justfields.com\/storage\/projects\/7M5rV059\/nav.jpg");
  background-size: cover;
  background-position: center;
}

.nav-title {
  font-family: Oswald, sans-serif;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}
